* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #27445d;
  color: #efe9d5;
  height: 100vh;
  box-sizing: border-box;
}

.presentation {
  display: flex;
  align-items: center;
}

.featured-title {
  color: #71bbb2;
}

.focus {
  color: #fff2af;
}

.code {
  color: #fba518;
}

.describe {
  padding: 50px;
  margin: 50px;
  border: 30px;
  background-color: #497d74;
}

.contact {
  color: #b2a5ff;
}

.photo {
  width: 400px;
  height: 400px;
}
