/*importaciones de fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*Declaración de variables*/
:root {
  /*colores*/
  --first-color: #27445d;
  --second-color: #efe9d5;
  --third-color: #a1e3f9;
  --fourth-color: #71bbb2;
  --fifth-color: #497d74;
  --sixth-color: #fff2af;
  --seventh-color: #fba518;
  --eighth-color: #272727;
  --ninth-color: #e52020;
  /*fuentes de texto*/
  --font-monserrat: "Montserrat", serif;
  --font-Krona: "Krona One", serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--first-color);
  color: var(--second-color);
  box-sizing: border-box;
}

.header {
  padding: 2% 0% 0% 15%;
}

.header__menu {
  display: flex;
  gap: 88px;
}

.header__menu__link {
  font-family: var(--font-monserrat);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--third-color);
  text-decoration: none;
}

.presentation {
  display: flex;
  align-items: center;
  padding: 5% 15%;
  justify-content: space-between;
  gap: 82px;
}

.presentation__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.presentation__content__title {
  font-size: 1.6rem;
  font-family: var(--font-Krona);
  text-align: center;
}

.presentation__content_title__featured-title {
  color: var(--fourth-color);
}

.presentation__content__describe {
  background-color: var(--fifth-color);
  font-size: 1.2rem;
  font-family: var(--font-monserrat);
  text-align: justify;
}

.presentation__content__focus {
  color: var(--sixth-color);
}

.presentation__content__code {
  color: var(--seventh-color);
}

.presentation__content__links__contact {
  color: var(--second-color);
  font-family: var(--font-Krona);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.presentation__content__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.presentation__content__links__social__media {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  font-family: var(--font-monserrat);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--second-color);
  border: 2px solid var(--third-color);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.presentation__content__links__social__media:hover {
  background-color: var(--eighth-color);
}

.presentation__photo {
  width: 50%;
}

.footer__text {
  background-color: var(--third-color);
  padding: 10px;
  color: var(--eighth-color);
  text-align: center;
  font-family: var(--font-monserrat);
  font-size: 1rem;
  font-weight: 600;
}

/* Estilos pestaña about*/

.presentation__content__about {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.presentation__content__about__describe__profile {
  font-size: 1.1rem;
  font-family: var(--font-monserrat);
  text-align: justify;
  color: var(--sixth-color);
}

.presentation__content__about__describe__profile_profession {
  color: var(--ninth-color);
  font-size: 1.2rem;
}

.presentation__content__about__describe__ul {
  font-size: 1rem;
  font-family: var(--font-monserrat);
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--third-color);
}

.presentation__content__about__languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.presentation__content__about__languages__box {
  border: 2px solid var(--eighth-color);
  background-color: var(--seventh-color);
  font-size: 1rem;
  font-family: var(--font-monserrat);
  font-weight: 600;
  color: var(--first-color);
  text-align: center;
  width: calc(20% - 10px);
  box-sizing: border-box;
}

@media (max-width: 1250px) {
  .header {
    padding: 10%;
  }

  .header__menu {
    justify-content: center;
  }
  .presentation {
    flex-direction: column-reverse;
  }
}
